@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GILROY";
  src: url("/fonts/gilroy/Gilroy-UltraLight.ttf");
}

@font-face {
  font-family: "GILROY_BOLD";
  src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf");
}

@layer base {
  html {
    @apply scroll-smooth font-jetBrains;
  }
  body {
    @apply bg-[#0F1021] text-white overflow-x-hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    @apply hidden;
  }
  p {
    @apply text-xl font-light font-gilroy;
  }
}

@layer components {
  .polymorphism {
    box-shadow: 0px 4px 4px theme(colors.primary), inset 0px 1px 2px #ffffff,
      inset 0px 20px 80px theme(colors.primary), inset 0px -4px 4px #ffffff,
      inset 0px -40px 40px rgba(15, 16, 33, 0.2), inset 0px 4px 12px #ffffff;
    backdrop-filter: blur(20px);
  }

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
}

/* ! Do NOT add @layer these three button classes /*
/* https://tailwindcss.com/docs/adding-custom-styles#removing-unused-custom-css  */
/* https://v2.tailwindcss.com/docs/just-in-time-mode#arbitrary-value-support */
.button-gradient {
  @apply bg-gradient-to-r p-[3px] from-tertiary to-secondary;
}

.button-gradient.button-moving-gradient {
  @apply bg-size-200 bg-pos-0 hover:bg-pos-100;
}

.button-outline {
  @apply bg-primary;
}
